@import "tailwindcss";

@theme {
  --color-coral-50: #fff1f2;
  --color-coral-200: #fecdd3;
  --color-coral-500: #F43F5E;
  --color-coral-600: #e11d48;
  --color-coral-700: #be123c;

  --color-mint-50: #ecfdf5;
  --color-mint-100: #d1fae5;
  --color-mint-400: #34d399;
  --color-mint-500: #10B981;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background-color: #F8FAFC;
  -webkit-tap-highlight-color: transparent;
}